<div class="container">
    <div *ngIf="users" class="card">
        <h3 class="card-header">Sikeresen beléptél!</h3>
        <div class="card-body">
            <ul>
                <li *ngFor='let user of users'> {{user.firstName}} - {{user.lastName}} </li>
            </ul>
        </div>
        <hr>
        <h2>Példa macska hozzáadás</h2>
        <h2>Cats</h2>

        <form [formGroup]='catForm' (ngSubmit)='addCatToService()'>
            <label>Name
                <input type="text" formControlName='name'>
            </label>
            <label>Food
                <input type="text" formControlName='food'>
            </label>
            <label>Image
                <input type="text" formControlName='img'>
            </label>
            <!-- <button type="submit">Send</button> -->
            <button mat-button type="submit">Send</button>
        </form>
    </div>
</div>


<button (click)="getCats()" mat-button type="submit">Send</button>